
h1{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.box11{
    background-color: greenyellow;
}
.box12{
    background-color: lightblue;
}
.box13{
    background-color: lightcoral;
}